<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/main/resources/static/css/styles.css">
    <script src="/src/main/resources/static/js/script.js" defer></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">


    <title>Eletricar</title>
</head>
<body>
    <header>
   
    
            <!-- Menu -->
            <div class="menu-container">
                <ul class="menu">
                    <li><a href="/src/main/resources/templates/index.html">HOME</a></li>
                    <li><a href="/src/main/resources/templates/quemSomos.html">QUEM SOMOS</a></li>
                    <li><a href="/src/main/resources/templates/servicos.html">SERVIÇOS</a></li>
                    <li><a href="/src/main/resources/templates/depoimentos.html">DEPOIMENTOS</a></li>
                </ul>
                <!-- Botão de Orçamento dentro do menu -->
                <a href="/src/main/resources/templates/orcamento.html" class="btn-orcamento">ORÇAMENTO RÁPIDO</a>
            </div>
    
            <!-- Ícone de Menu Hambúrguer -->
            <div class="hamburger" onclick="toggleMenu()">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </header>

    
      
      

   <div class="container-da-img">
        <div class="imgP">
            <div class="texto-img">
                <h1>MELHOR MANUTENÇÃO DE CARROS</h1>
                <h2>Serviços e Acessórios</h2>
                <p>NA ELETRICAR, ESTAMOS COMPROMETIDOS EM GANHAR SUA CONFIANÇA, FORNECENDO SERVIÇOS DE REPAROS DE AUTOMÓVEIS DE MAIS ALTA QUALIDADE A UM PREÇO JUSTO.</p>
                <h1>(17)99628-9344</h1>
                <button class="btn-agendar">AGENDAR AGORA</button>
            </div>
            <div class="imagem">
                <img src="/src/main/resources/static/img/carro.jpg" alt="Carro">
            </div>
        </div>
    </div>
    <div class="container">
        <h3 class="h3-texto1">SERVIÇOS DE REPAROS AUTOMOTIVOS</h3>
        <h5 class="h5-texto2">
            Oferecemos uma ampla gama de serviços para ajudá-lo a voltar à estrada com rapidez e segurança.
        </h5>
    </div>

    <!--Os Quadrados-->

    <section class="quadrados-container">
        <div class="quadrado">
            <img src="/src/main/resources/static/img/TravasEletrica.png" alt="Descrição da Imagem 1">
            <h3>Travas</h3>
            <p></p>
        </div>
        <div class="quadrado">
            <img src="/src/main/resources/static/img/Alarmes.png">
            <h3>Alarmes</h3>
            <p>Alarmes para ter aquela segurança com seu carro.</p>
        </div>
        <div class="quadrado">
            <img src="/src/main/resources/static/img/" alt="Descrição da Imagem 3">
            <h3>Vidros</h3>
            <p>Texto descritivo para o terceiro quadrado</p>
        </div>
        <div class="quadrado">
            <img src="/src/main/resources/static/img/Insufilme.jpg" alt="Descrição da Imagem 3">
            <h3>Insufilme</h3>
            <p>Texto descritivo para o terceiro quadrado.</p>
        </div>
        <div class="quadrado">
            <img src="/src/main/resources/static/img/som.png" alt="Descrição da Imagem 3">
            <h3>Som</h3>
            <p>Fazemos som do jeito que o cliente preferir.</p>
        </div>
        <div class="quadrado">
            <img src="/src/main/resources/static/img/acessorios.jpg" alt="Descrição da Imagem 3">
            <h3>Acessórios</h3>
            <p>Texto descritivo para o terceiro quadrado.</p>
        </div>
    </section>

    <div class="white-space top-space"></div> <!-- Espaço branco acima -->
    <div class="container-service">
        <div class="overlay"></div> <!-- Camada preta semitransparente -->
        <div class="text-overlay">
            <h2 class="h2-service">SERVIÇOS 24 horas por dia, 7 dias por semana</h2>
            <h5 class="h5-service">Temos o compromisso de fornecer aos nossos clientes reparos de qualidade a um preço justo.</h5>
        </div>
    </div>
    <div class="white-space bottom-space"></div> <!-- Espaço branco abaixo -->
    
    <a href="https://wa.me/5517996289344?text=Olá,Gostaria de agendar um serviço" target="_blank" class="whatsapp-btn">
        <i class="fab fa-whatsapp"></i>
    </a>
    
<!-- Rodapé -->
<footer class="footer">
    <div class="footer-top">
        <div class="footer-info">
            <h2>ELETRICAR</h2>
            <p>Desenvolvedor de Software apaixonado por inovação e tecnologias emergentes.</p>
            <div class="footer-contact">
                <p><strong>Email:</strong> gustavosilva94514@gmail.com</p>
                <p><strong>Telefone:</strong> (17) 99648-9436</p>
            </div>
        </div>
        <div class="footer-links">
            <h4>Links Úteis</h4>
            <ul>
                <li><a href="#">Sobre</a></li>
                <li><a href="#">Serviços</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Portfólio</a></li>
                <li><a href="#">Contato</a></li>
            </ul>
        </div>
        <div class="footer-social">
            <h4>Conecte-se</h4>
            <div class="social-icons">
                <a href="https://www.linkedin.com/in/gustavolanjoni/" class="social-icon"><i class="fab fa-linkedin-in"></i></a>
                <a href="https://github.com/GustavoLanjoni" class="social-icon"><i class="fab fa-github"></i></a>
                <a href="https://www.instagram.com/devlanjoni/" class="social-icon"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="footer-payment">
            <h4>Formas de Pagamento</h4>
            <div class="payment-icons">
                <img src="/src/main/resources/static/img/visa-17.png" alt="Visa" />
                <img src="/src/main/resources/static/img/mastercard-18.png" alt="Mastercard" />
            </div>
        </div>
        <p>&copy; 2024 Gustavo Lanjoni. Todos os direitos reservados.</p>
    </div>
</footer>



    
    
</body>
</html>
